<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * PHP version 7.3.17
 *
 * @category Modules
 * @package  Magento
 * @author   Robert Hillebrand <hillebrand@i-ways.net>
 * @license  http://opensource.org/licenses/osl-3.0.php Open Software License 3.0
 * @link     https://www.i-ways.net
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="paypalplus_validate" instance="Iways\PayPalPlus\Observer\ValidateObserver" />
        <observer name="paypalplus_webprofile_reset_payment" instance="Iways\PayPalPlus\Observer\ResetObserver" />
        <observer name="paypalplus_third_payment_modul_info" instance="Iways\PayPalPlus\Observer\TpmiObserver" />
    </event>
    <event name="admin_system_config_changed_section_design">
        <observer name="paypalplus_webprofile_reset_design" instance="Iways\PayPalPlus\Observer\ResetObserver" />
    </event>
</config>
